<h1>Borbe bikova</h1>

<%= link_to "New combat", new_char_combat_path %>

<table class="table table-hover">
  <tr class="info">
    <th>Fight number</th>
    <th>Winner</th>
    <th>Loser</th>
    <th></th>
  </tr>
  <% @char_combats.each do |combat| %>
    <tr>
      <td>Fight <%= combat.id %></td>
      <td><%= combat.winner %></td>
      <td><%= combat.loser %></td>
      <td><%= link_to "Show", char_combat_path(combat) %></td>
      <td><%= link_to "Destroy", char_combat_path(combat), :method => :delete,
              data: { confirm: 'Are you sure?' } %>
    </tr>
  <% end %>
</table>