<tr>
  <td>
    <%= char_attribute.title %>
  </td>
   
  <td>
    <%= char_attribute.value %>
  </td>
  <td><%= image_tag(char_attribute.icon, :width => 100, :height => 100) if char_attribute.icon.present? %></td>
  <td><%= link_to 'Show', char_type_char_attribute_path(:char_type_id => char_attribute.char_type.id, 
                                                        :id => char_attribute.id) %>
  </td>
  <td><%= link_to 'Edit', edit_char_type_char_attribute_path(:char_type_id => char_attribute.char_type.id, 
                                                             :id => char_attribute.id) %>
  </td>
  <td><%= link_to 'Destroy', char_type_char_attribute_path(:char_type_id => char_attribute.char_type.id, 
                                                           :id => char_attribute.id), :method => :delete, 
                                                           :data => { confirm: 'Are you sure?' },
                                                           :class => "destroy_link" %>
  </td>
</tr>


