<%= form_for @char_type do |f| %>
 
  <% if @char_type.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@char_type.errors.count, "error") %> prohibited
        this character type from being saved:
      </h2>
      <ul>
        <% @char_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :avatar %><br>
    <%= image_tag(@char_type.avatar, :width => 100, :height => 100) if @char_type.avatar? %>
    <%= f.file_field :avatar %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
