<div class="col-sm-offset-0 col-sm-10">  
	<h1>Character "<%= @char_type.title %>"</h1>
</div>
<div class="col-sm-offset-0 col-sm-10"> 
<p>
	<strong>Title:</strong> <%= @char_type.title %>
</p>

<p>
	<strong>Avatar:</strong> <%= image_tag(@char_type.avatar, :width =>	100, :height => 100) if @char_type.avatar? %>
</p>

<strong>Attributes:</strong>
</div>
<% if @char_type.char_attributes.present? %>
	<%= render 'all_attributes_table' %>
<% else %>
	<div class="col-sm-offset-0 col-sm-10">
		This character type has no attributes! <%= link_to 'Add some', new_char_type_char_attribute_path(@char_type) %>.
	</div>
<% end %>

<div class="col-sm-offset-0 col-sm-10">
	<%= link_to 'Back', users_char_types_path %>
</div>

